@charset "utf-8";
/** {
background-color: #60dbfb;
color: #60dbfb;
}*/
body{color:#FFF;font:100%/1.4 "Segoe UI", "Segoe UI Light";font-size:1em;padding:0;margin:0;background:#00008B;}table,tbody,tr,td{border-collapse:collapse;}#label1{font-size:100px}#label2{text-align:right; color:#003EFF; width:300px}#demo{font-size:.8em; color:#003EFF}
